<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Article</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th class="col-8">Article</th>
                    <th class="col-4"></th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="article : ${articles}">
                <td class="col-8" th:classappend="${article.check} ? alert-info : alert-danger" role="alert">
                    <a th:href="@{/basket/{bId}/article/{aId}/check(bId = ${basket.id},aId = ${article.id})}" th:inline="text">
                        [[${article.name}]] [[${article.comment}]]
                    </a>
                </td>
                <td class="col-4">
                    <a th:href="@{/basket/{bId}/article/{aId}/delete(bId = ${basket.id},aId = ${article.id})}">
                        Del
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <form method="post" th:action="@{/basket/{id}/article(id = ${basket.id})}">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" aria-describedby="Name" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="comment">Comment</label>
            <input type="text" class="form-control" id="comment" name="comment">
        </div>
        <button type="submit" class="btn btn-primary">Add article</button>
    </form>
</div>
</body>
</html>